{% extends ":layout:base.html.twig" %}

{% trans_default_domain 'OneGuardDynamicConfigurationBundle' %}

{% block title -%}
	{{ 'configurationValue.assign'|trans }}
{%- endblock %}

{% block content %}
	<h1>
		{{ block('title') }}
		<span class="pull-right">
			<a class="btn btn-sm btn-default" href="{{ path('configurationValue.view') }}">{{ 'configurationValue.view'|trans }}</a>
		</span>
	</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn btn-primary">{{ 'main.save'|trans }}</button>
	{{ form_end(form) }}
{% endblock %}
